*{
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

p {
	 width: 290px;
	 height: 160px;
	 font-weight: bold;
	 background-color: #c8f442;
	 font-family: Ariel, Halvetica, sans-serif;
	 font-size: 14px;
	 margin: 20px;
	 border-style: solid;
    border-width: 3px;
	border-color: black;
	position: absolute;
	padding-top: 30px;
	padding-left: 10px;
	padding-bottom: 10px;
}


div {
     width: 70px;
	 height :30px;
	 font-family: Ariel, Halvetica, sans-serif;
	font-size: 14px;
	 font-weight: bold;
	 border-style: solid;
    border-width: 3px;
	border-color: black;
	position: absolute;
	text-align: center;


}


#p1 {
	top: 100px;
	left: 20px;

}

#p2 {
	 
	top: 100px;
	left: 330px;

}

#p3 {
	 top: 100px;
	 left: 640px;
}




#m1 {
	background-color: red;
	top: 120px;
	left: 260px;
}
	
#m2 {
	background-color: yellow;
	top: 120px;
	left: 570px;
}
#m3 {
	background-color: pink;
	top: 120px;
	left:880px;
}



@media (min-width: 768px) and (max-width: 991px) {
  
  #p3{
  	width: 600px;
  	top: 300px;
  	left: 20px;
  }

  #m3{
  	top: 320px;
  	left: 570px;
  }
}



@media (max-width: 767px) {
  

   #p2{
  	top: 300px;
  	left: 20px;
  }

  #m2{
  	top: 320px;
  	left: 260px;
  }

  #p3{
  	top: 500px;
  	left: 20px;
  }

  #m3{
  	top: 520px;
  	left: 260px;
  }
}
